.borda {
    background: linear-gradient(to left, pink, rgb(151, 32, 52));
}

.fundo {
    background-color: white;
    padding: 15px;
}

.borda-menor {
    width: 20%;
    padding: 8px;
}

.borda-maior {
    padding: 15px;
}

.alinhar-direita {
    float: left;
}

.borda-esquerda {
    margin-left: 20%;
}

.menu {
    float: left;
    padding: 10px;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

.paragrafo {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    font-variant: small-caps;
    text-transform: capitalize;
    text-transform: lowercase;
    text-align: justify;
    /* text-shadow: 5px 5px 3px black; */
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 15px;
}

.link {
    text-decoration: overline;
    text-decoration-color: pink;
    /* border: 1px solid black; */
    /* padding: 5px; */
    text-decoration-style: wavy;
}

.item-lista {
    list-style: none;
}