nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav img {
  width: 70px;
  height: 70px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  list-style: none;
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: #a16161;
}

main {
  background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p1/13446367-chip-eletronico-de-tecnologia-digital-conceito-de-fundo-azul-rosa-hardware-eletrico-de-computador-microprocessador-de-memoria-ram-cpu-futuro-cibernetico-futurista-tecnologia-de-rede-de-big-data-abstrata-ilustracaoial-vetor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  text-align: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ultimo-conteudo-adc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  */
}
.ultimo-conteudo-adc h2 {
  text-align: center;
  color: #a16161;
}
.ultimo-conteudo-adc table {
  width: 100%;
  text-align: center;
  color: #26419e;
}
.ultimo-conteudo-adc table th {
  padding: 10px;
  border-bottom: 2px solid #b8becd;
}
.ultimo-conteudo-adc table td {
  padding: 10px;
  border-bottom: 1px solid #b8becd;
}
.ultimo-conteudo-adc table .assunto {
  display: flex;
  justify-content: center;
}
.ultimo-conteudo-adc table .assunto .assuntoWeb {
  background-color: hotpink;
  min-width: 80%;
  color: white;
  text-transform: uppercase;
}
.ultimo-conteudo-adc table .assunto .assuntoDesktop {
  background-color: #5767e0;
  min-width: 80%;
  color: white;
  text-transform: uppercase;
}
.ultimo-conteudo-adc table .assunto .assuntoRedes {
  background-color: #401468;
  min-width: 80%;
  color: white;
  text-transform: uppercase;
}
.ultimo-conteudo-adc table .score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ultimo-conteudo-adc table .score .like {
  color: green;
}
.ultimo-conteudo-adc table .score .dislike {
  color: red;
}
.ultimo-conteudo-adc table .score .star {
  color: goldenrod;
}
.ultimo-conteudo-adc .botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ultimo-conteudo-adc .botao button {
  padding: 15px;
  background-color: white;
  border: 1px solid #a16161;
  color: #a16161;
  border-radius: 10px;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  background-color: #a16161;
  height: 200px;
}
footer .coluna-1 {
  width: 8.3333333333%;
}
footer .coluna-2 {
  width: 16.6666666667%;
}
footer .coluna-3 {
  width: 25%;
}
footer .coluna-4 {
  width: 33.3333333333%;
}
footer .coluna-5 {
  width: 41.6666666667%;
}
footer .coluna-6 {
  width: 50%;
}
footer .coluna-7 {
  width: 58.3333333333%;
}
footer .coluna-8 {
  width: 66.6666666667%;
}
footer .coluna-9 {
  width: 75%;
}
footer .coluna-10 {
  width: 83.3333333333%;
}
footer .coluna-11 {
  width: 91.6666666667%;
}
footer .coluna-12 {
  width: 100%;
}
footer div {
  align-items: center;
  text-align: center;
}
footer img {
  height: 70px;
  width: 70px;
}
footer ul {
  list-style: none;
}
footer h3 {
  color: #84258b;
}