nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav img {
  width: 70px;
  height: 70px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  list-style: none;
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: #a16161;
}

main {
  background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p1/13446367-chip-eletronico-de-tecnologia-digital-conceito-de-fundo-azul-rosa-hardware-eletrico-de-computador-microprocessador-de-memoria-ram-cpu-futuro-cibernetico-futurista-tecnologia-de-rede-de-big-data-abstrata-ilustracaoial-vetor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  text-align: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ultimo-conteudo-adc table {
  width: 100%;
}
.ultimo-conteudo-adc table th {
  border-bottom: 1px solid #d07c7c;
  color: #84258b;
}