.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 20px 50px;
}
.container-grid p {
    border: 1px solid blue;
}
.container-principal {
    grid-column-start: 1;
    grid-column-end: 3;
}
.container-grid-areas {
    display: grid;
    grid-template-areas: 'header header'
        'main main'
        'section section'
        'footer footer';
}