.atividade1 div {
  background-color: #b6b4d4;
}
.atividade1 h1,
.atividade1 h2,
.atividade1 h3,
.atividade1 p {
  color: #6e8a96;
}
.atividade1 input {
  padding: 8px;
  border: 1px solid #5d707f;
}
.atividade1 button {
  padding: 8px;
  border: 1px solid #5d707f;
  background-color: #5d707f;
}
.atividade1 form .campos, .atividade1 form button, .atividade1 form textarea, .atividade1 form input {
  border: 3px solid #6e8a96;
  padding: 10px;
}
.atividade1 form .campos:hover, .atividade1 form button:hover, .atividade1 form textarea:hover, .atividade1 form input:hover {
  border-color: #66ced7;
}
.atividade1 form button {
  background-color: #6e8a96;
}

.atividade2 .titulos, .atividade2 h3, .atividade2 h2, .atividade2 h1 {
  background-color: #8797b1;
  text-align: center;
  text-transform: capitalize;
}
.atividade2 h1 {
  color: red;
}
.atividade2 h2 {
  color: blue;
}
.atividade2 h3 {
  color: green;
}

.atividadeHeranca .botao, .atividadeHeranca .botao-alerta, .atividadeHeranca .botao-perigo, .atividadeHeranca .botao-primario {
  padding: 10px;
  text-transform: uppercase;
}
.atividadeHeranca .botao-primario {
  background-color: green;
  border-color: green;
}
.atividadeHeranca .botao-primario:hover {
  background-color: rgb(0, 92.3, 0);
  border-color: rgb(0, 92.3, 0);
}
.atividadeHeranca .botao-perigo {
  background-color: red;
  border-color: red;
}
.atividadeHeranca .botao-perigo:hover {
  background-color: #ff9999;
  border-color: #ff9999;
}
.atividadeHeranca .botao-alerta {
  background-color: orange;
  border-color: orange;
}
.atividadeHeranca .botao-alerta:hover {
  background-color: rgb(229.5, 148.5, 0);
  border-color: rgb(229.5, 148.5, 0);
}

.atividadeMixin .card-primario {
  background-color: purple;
}

.loops .col-1 {
  width: 8.3333333333%;
}
.loops .col-2 {
  width: 16.6666666667%;
}
.loops .col-3 {
  width: 25%;
}
.loops .col-4 {
  width: 33.3333333333%;
}
.loops .col-5 {
  width: 41.6666666667%;
}
.loops .col-6 {
  width: 50%;
}
.loops .col-7 {
  width: 58.3333333333%;
}
.loops .col-8 {
  width: 66.6666666667%;
}
.loops .col-9 {
  width: 75%;
}
.loops .col-10 {
  width: 83.3333333333%;
}
.loops .col-11 {
  width: 91.6666666667%;
}
.loops .col-12 {
  width: 100%;
}
.loops div {
  height: 50px;
  background-color: #6e8a96;
  border: 2px solid white;
}
.loops .linha {
  display: flex;
  flex-direction: row;
  background-color: white;
}