$cor-primaria: #b6b4d4;
$cor-secundaria: #8797b1;
$cor-terciaria: #6e8a96;
$cor-quartenario: #5d707f;
$cor-quinquenario: #66ced7;
$tamanho-campos: 8px;

.atividade1 {
    div {
        background-color: $cor-primaria;
    }

    h1,
    h2,
    h3,
    p {
        color: $cor-terciaria;
    }

    input {
        padding: $tamanho-campos;
        border: 1px solid $cor-quartenario;
    }

    button {
        padding: $tamanho-campos;
        border: 1px solid $cor-quartenario;
        background-color: $cor-quartenario;
    }

    form {

        .campos {
            border: 3px solid $cor-terciaria;
            padding: 10px;
        }

        .campos:hover {
            border-color: #66ced7;
        }

        input {
            @extend .campos;
        }

        textarea {
            @extend .campos;
        }

        button {
            @extend .campos;
            background-color: $cor-terciaria;
        }

    }
}

.atividade2 {
    .titulos {
        background-color: $cor-secundaria;
        text-align: center;
        text-transform: capitalize;
    }

    h1 {
        @extend .titulos;
        color: red;
    }

    h2 {
        @extend .titulos;
        color: blue;
    }

    h3 {
        @extend .titulos;
        color: green;
    }
}

.atividadeHeranca {

    $cor-botao-primario: green;
    $cor-botao-primario-escuro: darken($cor-botao-primario, 7%);
    $cor-botao-perigo: red;
    $cor-botao-alerta: orange;

    .botao {
        padding: 10px;
        text-transform: uppercase;
    }

    .botao-primario {
        @extend .botao;
        background-color: $cor-botao-primario;
        border-color: $cor-botao-primario;
    }

    .botao-primario:hover {
        background-color: $cor-botao-primario-escuro;
        border-color: $cor-botao-primario-escuro;
    }

    .botao-perigo {
        @extend .botao;
        background-color: $cor-botao-perigo;
        border-color: $cor-botao-perigo;
    }

    .botao-perigo:hover {
        background-color: lighten($cor-botao-perigo, 30%);
        border-color: lighten($cor-botao-perigo, 30%);
    }

    .botao-alerta {
        @extend .botao;
        background-color: $cor-botao-alerta;
        border-color: $cor-botao-alerta;
    }

    .botao-alerta:hover {
        background-color: darken($cor-botao-alerta, 5%);
        border-color: darken($cor-botao-alerta, 5%);
    }

}

.atividadeMixin {
    @mixin card ($corFundo) {
        background-color: $corFundo;
    }

    .card-primario {
        @include card(purple);
    }
}

.loops {
    $tamanoTela: 12;

    @for $i from 1 through $tamanoTela {
        .col-#{$i} {
            width: calc(100% / $tamanoTela) * $i;
        }
    }

    div {
        height: 50px;
        background-color: #6e8a96;
        border: 2px solid white;
    }

    .linha {
        display: flex;
        flex-direction: row;
        background-color: white;
    }
}

.animacoes {
    button {
        background-color: #66ced7;
        transition: background-color 1s, transform 1s;
    }

    button:hover {
        background-color: brown;
        transform: scale(1.5);
    }

    @keyframes complex {
        0% {
            background-color: red;
            transform: scale(1);
        }

        25% {
            background-color: orange;
            transform: scale(1.2);
        }

        50% {
            background-color: yellow;
            transform: scale(1.5);
        }

        75% {
            background-color: green;
            transform: scale(1.2);
        }

        100% {
            background-color: red;
            transform: scale(1);
        }
    }

    div {
        animation: complex 4s infinite;
        height: 50px;
        width: 50px;
        background-color: #4CAF50;
    }
}