/*Cabeçalho*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    background-color: white;
}

header img {
    width: 100px;
    height: 100px;
}

header nav {
    width: 70%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color:purple;
}

/*Contato*/
.contato {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.contato svg {
    background-color: green;
}

/*Rodapé*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    background-color: white;
    border-top: 1px solid gray;
}

footer li {
    list-style: none;
    font-size: 20px;
}
