* {
    background-color: #a85fd1;
}

.campo {

}

.campo-grande {

}

.campo-pequeno {

}

.campo-arredondado {

}

.botao {

}

.botao-grande {

}

.botao-espacado {

}

.botao-corClara {

}

.botao-corEscura {

}

.titulo {

}

.titulo-linha {

}